<div style="text-align:center">
  <div class="input-content" >
    <div class="input-box">
      <input class="input" #domain (keyup)="0" [ngModel]="siteName" (keyup.enter)="getSiteTree(domain.value, depth.value)">
    </div>
    <select #depth class="select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <button class="button" type="submit" (click)="getSiteTree(domain.value, depth.value)">Go</button>

  </div>
    <div class="main-content">
        <div class="controls-box">
            <div echarts [options]="chartOption" class="demo-chart"></div>
        </div>
        <!--<div class="tree-box">-->
            <!--<tree [tree]="data" (nodeSelected)="logEvent($event)" (nodeRenamed)="renamedEvent($event)" *ngIf="!isSpinnerVisible"></tree>-->
        <!--</div>-->
    </div>
</div>


